@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap");

:root {
    --red-crayola: #e83151ff;
    --zaffre: #0d21a1ff;
    --azure: #007fffff;
    --white: #ffffffff;
    --pumpkin: #ff6700ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app-container {
    width: 100%;
    max-width: 450px;
    background-color: var(--white);
    border: var(--zaffre), solid 1px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
